{% extends 'base.html' %}
{% block content %}
    <h1>
        <a href="{% url 'polls:detail' question_id=10 %}">Question 10</a>
    </h1>
    <h1>{{ greetings|lower }}</h1>
    <h2>I am from {{ location.city }}, {{ location.country }}</h2>
    <h2>I speak {{ languages.0 }} and {{ languages.1 }}</h2>
    <ul>
    {% for lang in languages %}
        <li>{{ lang }}</li>
    {% endfor %}

    {% for lang in languages %}
        <li>
            {% if lang == "Korean" %}
            Wow! You speak Korean!
            {% else %}
            Alright, You speak English!
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    <ul>
        {% for k, v in location.items %}
            <li>{{ k|capfirst }}: {{ v }}</li>
        {% endfor %}
    </ul>
{% endblock content %}
